body {
    background-color: rgb(135, 198, 152);
  }
  h1 {
    color: rgb(19, 65, 19);
  }
  p {
    color: red;
  }
canvas {
    max-width: 98%;
    max-height: 98%;
    height: auto;
    width: auto;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(255, 255, 255);
    border:black 2px solid;
}

.cluster-box {
  width: 500px;
  height: 500px;
  /* background-color: #a0a0a0; */
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}